web/bundles/
web/generated/
web/translations/*
!web/translations/.gitkeep
web/img/*
web/css/*
web/js/*
web/open_assets/
web/media/
web/assets/
web/uploads/*
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/var/*
!app/var/.gitkeep
vendor
vendor/*
bin
composer.phar
app/config/parameters.yml
config/*
!config/deploy.rb.dist
.DS_Store
