.article-content {
    position: relative;
    margin: 10px 20px;
    min-height: calc(100vh - 455px);
    height: auto;
}

.no-field-border {
    border: 1px solid #fff;
    outline: none;
}

.no-field-border:hover {
    border: 1px solid #ececec;
}

.article-textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: block;
    resize: vertical;
}

.article-content h3 {
    font-weight: bold;
    margin: 10px 0px;
}

.article-content div {
    margin: 10px 0px;
}

.article-content p {
    margin: 10px 0px;
}

.article-content b {
    font-weight: bold;
}

.save-article-container {
    position: relative;
    margin: 10px 20px;
}

.photo-gallery-container {
    position: relative;
    background: #fff;
    height: 90%;
    width: 90%;
    margin: 2% auto 0 auto;
    overflow: hidden;
    border: 1px solid #ccc;
}

.photo-gallery-header {
    padding: 20px;
    background: #ececec;
    border-bottom: 1px solid #ccc;
}

.photo-gallery-header-text {
    font-weight: bold;
}

.photo-gallery-body {
    height: 500px;
    height: -webkit-calc(100% - 57px);
    height: -moz-calc(100% - 57px);
    height: calc(100% - 57px);
}

.photo-gallery-menu-column {
    width: 200px;
    height: 100%;
    background: #ececec;
}

.photo-gallery-image-column {
    width: 500px;
    width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: calc(100% - 200px);
    height: 100%;
    border-left: 1px solid #ccc;
    background: #fff url('../../images/editor_bar/background-camera.png') no-repeat;
    background-size: 100px;
    background-position: center 40%;
    overflow-x: hidden;
    overflow-y: auto;
}

.add-photos-box {
    position: relative;
    margin: 10px auto;
    border: 1px dashed #ccc;
    background: #fff;
    width: 180px;
    height: 180px;
    background: #fff url('../../images/editor_bar/plus-sign.jpg') no-repeat;
    background-size: 50px;
    background-position: center;
}

.add-photos-box:hover {
    border: 1px solid #ccc;
    cursor: pointer;
}

.add-photos-text {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

.upload-gallery-photos-input {
    visibility: hidden;
}

.article-gallery-image-parent {
    position: relative;
    border: 1px solid #fff;
    float: left;
    width: -webkit-calc((100%/3) - 2px);
    width: -moz-calc((100%/3) - 2px);
    width: calc((100%/3) - 2px);
    overflow: hidden;
}
.article-gallery-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: blue;
}
.article-gallery-image-menu-parent {
    position: absolute;
    bottom: 0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    height: auto;
    width: 100%;
    visibility: hidden;
}

.article-gallery-image-parent:hover .article-gallery-image-menu-parent{
    visibility: visible;
}
.article-gallery-image-menu-icon-import {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('/images/icons/import.png') #ececec no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin: 0 auto 10px auto;
    padding: 5px;
    font-size: 12px;
}
.article-gallery-image-menu-icon-import:hover {
    background: url('/images/icons/import.png') #fff no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.15);
    box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.15);
    cursor: pointer;
}