{% extends '::base.html.twig' %}

{% block stylesheets -%}

    {{ parent() }}

    {% stylesheets
        '@HomeBundle/Resources/public/css/home.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block site_content %}

    Bernr, the app, is currently being developed. Thanks for visiting!
    <br/><br/>
    Please visit "Bernr" on facebook to follow our development:<br/>
    <a href="https://www.facebook.com/Bernr-1588347418126290/">Click for Bernr's Facebook Page</a>

{%  endblock site_content %}