<div class='login-form-header'>

    Contribute

</div>

<ul class='login-account-list'>

    <li><a href='{{ path('write_an_article') }}'>Submit A New Article</a></li>
    <li><a href='{{ path('editor_area') }}'>My Submissions</a></li>

</ul>