<li class="has-children">
                        
    <a href="http://codyhouse.co/?p=748">Bought & Paid For</a>

    <ul class="cd-dropdown-icons is-hidden">
        
        <div style='padding:0 0 5px 0;margin-bottom:5px; border-bottom: 1px solid #ccc;'>
            Legalized bribes? Political favors? The list of corporate donors is astounding.
        </div>

        <li class="go-back">

            <a href="#0">Menu</a>
        </li>

        <li class="see-all">

            <a href="http://codyhouse.co/?p=748">Browse Topics</a>

        </li>

        <li>

            <a class="cd-dropdown-item item-1" href="http://codyhouse.co/?p=748">

                <h3>State Department</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-2" href="http://codyhouse.co/?p=748">

                <h3>Senate Office</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-3" href="http://codyhouse.co/?p=748">

                <h3>2008 Campaign</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-4" href="http://codyhouse.co/?p=748">

                <h3>2016 Campaign</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-5" href="http://codyhouse.co/?p=748">

                <h3>Clinton Foundation</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-6" href="http://codyhouse.co/?p=748">

                <h3>Political Corruption</h3>

                <p>This is the topic description</p>

            </a>

        </li>

    </ul> <!-- .cd-dropdown-icons -->

</li> <!-- .has-children -->