<li class="has-children">
                        
    <a href="http://codyhouse.co/?p=748">Campaign Corruption</a>

    <ul class="cd-dropdown-icons is-hidden">
        
        <div style='padding:0 0 5px 0;margin-bottom:5px; border-bottom: 1px solid #ccc;'>
            How has Hillary corrupted the democratic process? Take a look.
        </div>

        <li class="go-back">

            <a href="#0">Menu</a>
        </li>

        <li class="see-all">

            <a href="http://codyhouse.co/?p=748">Browse Topics</a>

        </li>

        <li>

            <a class="cd-dropdown-item item-1" href="http://codyhouse.co/?p=748">

                <h3>Party Corruption</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-2" href="http://codyhouse.co/?p=748">

                <h3>Corruption In The Media</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-3" href="http://codyhouse.co/?p=748">

                <h3>Campaign Staff</h3>

                <p>This is the topic description</p>

            </a>

        </li>
        
        <li>

            <a class="cd-dropdown-item item-3" href="http://codyhouse.co/?p=748">

                <h3>Campaign Contributions</h3>

                <p>This is the topic description</p>

            </a>

        </li>

    </ul> <!-- .cd-dropdown-icons -->

</li> <!-- .has-children -->