<li class="has-children">
                        
    <a href="http://codyhouse.co/?p=748">Debate Fact Check</a>

    <ul class="cd-dropdown-icons is-hidden">

        <div style='padding:0 0 5px 0;margin-bottom:5px; border-bottom: 1px solid #ccc;'>
            Select a debate to see what Hillary said that day: Fact or Fiction
        </div>
        
        <li class="go-back">

            <a href="#0">Menu</a>
        </li>

        <li class="see-all">

            <a href="http://codyhouse.co/?p=748">Browse Topics</a>

        </li>

        <li>

            <a class="cd-dropdown-item item-1" href="http://codyhouse.co/?p=748">

                <h3>Oct 13, 2015</h3>

                <p>Las Vegas, Nevada</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-2" href="http://codyhouse.co/?p=748">

                <h3>Nov 14, 2015</h3>

                <p>Des Moines, IA</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-3" href="http://codyhouse.co/?p=748">

                <h3>Dec 19, 2015</h3>

                <p>Manchester, NH</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-4" href="http://codyhouse.co/?p=748">

                <h3>Jan 17, 2016</h3>

                <p>Charleston, SC</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-5" href="http://codyhouse.co/?p=748">

                <h3>February 4, 2016</h3>

                <p>Durham, NH</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-6" href="http://codyhouse.co/?p=748">

                <h3>Feb 11, 2016</h3>

                <p>Milwaukee, WI</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-7" href="http://codyhouse.co/?p=748">

                <h3>March 9, 2016</h3>

                <p>Miami, FL</p>

            </a>

        </li>

    </ul> <!-- .cd-dropdown-icons -->

</li> <!-- .has-children -->