<li class="has-children">
                        
    <a href="http://codyhouse.co/?p=748">On The Issues</a>

    <ul class="cd-dropdown-icons is-hidden">

        <div style='padding:0 0 5px 0;margin-bottom:5px; border-bottom: 1px solid #ccc;'>
            Where does Hillary stand on the most important issues?
        </div>
        
        <li class="go-back">

            <a href="#0">Menu</a>
        </li>

        <li class="see-all">

            <a href="http://codyhouse.co/?p=748">Browse Topics</a>

        </li>
        
        <li>

            <a class="cd-dropdown-item item-3" href="http://codyhouse.co/?p=748">

                <h3>Black People</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-1" href="http://codyhouse.co/?p=748">

                <h3>Campaign Finance Reform</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-2" href="http://codyhouse.co/?p=748">

                <h3>Criminal Justice Reform</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-4" href="http://codyhouse.co/?p=748">

                <h3>Healthcare</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-5" href="http://codyhouse.co/?p=748">

                <h3>Immigration Reform</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-6" href="http://codyhouse.co/?p=748">

                <h3>Infrastructure</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-7" href="http://codyhouse.co/?p=748">

                <h3>LGBT Equality</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-8" href="http://codyhouse.co/?p=748">

                <h3>National Security</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-9" href="http://codyhouse.co/?p=748">

                <h3>Social Security & Medicare</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-10" href="http://codyhouse.co/?p=748">

                <h3>Substance Use & Addiction</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-11" href="http://codyhouse.co/?p=748">

                <h3>Veterans</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-12" href="http://codyhouse.co/?p=748">

                <h3>Wall Street & Corporate America</h3>

                <p>This is the topic description</p>

            </a>

        </li>


    </ul> <!-- .cd-dropdown-icons -->

</li> <!-- .has-children -->