<li class="has-children">
                        
    <a href="http://codyhouse.co/?p=748">The Real Hillary</a>

    <ul class="cd-dropdown-icons is-hidden">
        
        <div style='padding:0 0 5px 0;margin-bottom:5px; border-bottom: 1px solid #ccc;'>
            It's hard to know what she truly supports, but it's important to try.
        </div>

        <li class="go-back">

            <a href="#0">Menu</a>
        </li>

        <li class="see-all">

            <a href="http://codyhouse.co/?p=748">Browse Topics</a>

        </li>

        <li>

            <a class="cd-dropdown-item item-1" href="http://codyhouse.co/?p=748">

                <h3>Untrustworthy</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-2" href="http://codyhouse.co/?p=748">

                <h3>2008 vs 2016</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-3" href="http://codyhouse.co/?p=748">

                <h3>Money Changes Things</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-4" href="http://codyhouse.co/?p=748">

                <h3>What DOES Hillary Believe?</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-5" href="http://codyhouse.co/?p=748">

                <h3>Why It Matters</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-6" href="http://codyhouse.co/?p=748">

                <h3>Trail Of Lies</h3>

                <p>This is the topic description</p>

            </a>

        </li>

        <li>

            <a class="cd-dropdown-item item-7" href="http://codyhouse.co/?p=748">

                <h3>Republican History</h3>

                <p>This is the topic description</p>

            </a>

        </li>
        
        <li>

            <a class="cd-dropdown-item item-7" href="http://codyhouse.co/?p=748">

                <h3>Integrity Is Everything</h3>

                <p>This is the topic description</p>

            </a>

        </li>

    </ul> <!-- .cd-dropdown-icons -->

</li> <!-- .has-children -->